<div id="<%= dom_id person %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= person.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= person.type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= person.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Back:</strong>
    <%= person.back %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Available:</strong>
    <%= person.available %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Independent:</strong>
    <%= person.independent? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Studio:</strong>
    <%= person.studio_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level:</strong>
    <%= person.level_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= person.age_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Exclude:</strong>
    <%= person.exclude_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Invoice to:</strong>
    <%= person.invoice_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Package:</strong>
    <%= person.package_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Table:</strong>
    <%= person.table_id %>
  </div>
</div>
