<div class="w-full mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="text-center font-bold text-4xl mb-4">Event Participants</h1>

  <table class="table-fixed mx-auto">
  <thead>
    <tr>
      <td class="row-head">Name</td>
      <td class="row-head">Type</td>
      <% if @people.any? { |person| person.role.present? } %>
      <td class="row-head">Role</td>
      <% end %>
      <% if @people.any? { |person| person.level_id } %>
      <td class="row-head">Level</td>
      <% end %>
      <% if @track_ages && @people.any? { |person| person.age_id } %>
      <td class="row-head">Age</td>
      <% end %>
      <td class="row-head">Studio</td>
    </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td class="row-main"><%= link_to person.name, person %></td>
      <td class="row"><%= person.type %></td>
      <% if @people.any? { |person| person.role.present? } %>
      <td class="row"><%= person.role %></td>
      <% end %>
      <% if @people.any? { |person| person.level_id } %>
      <td class="row"><%= person.level&.name %></td>
      <% end %>
      <% if @track_ages && @people.any? { |person| person.age_id } %>
      <td class="row text-center"><%= person.age&.description %></td>
      <% end %>
      <td class="row"><% if person.studio %><%= link_to person.studio.name, studio_path(person.studio) %><% end %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <% if @people.empty? %>
  <p class="text-center mt-8">To add people, go to the <%= link_to "Studios", studios_path %> page and add a studio, then add people to that studio.</p>
  <% end %>
</div>
