<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @person %>

  <div class="mt-8 flex">
    <%= link_to "Edit this person", edit_person_path(@person), class: "btn-blue" %>

    <% if @person.studio %>
    <%= link_to "Back to Studio", studio_path(@person.studio), class: "btn-green" %>
    <% else %>
    <%= link_to "Back to Event Staff", studio_path(0), class: "btn-green" %>
    <% end %>
  </div>
</div>
