<%= form_with(model: dance, class: "contents") do |form| %>
  <% if dance.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul class="list-disc ml-6">
        <% dance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:name].none?, "border-red-400 focus:outline-red-600": dance.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :order %>
    <%= form.number_field :order, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:order].none?, "border-red-400 focus:outline-red-600": dance.errors[:order].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :heat_length %>
    <%= form.number_field :heat_length, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:heat_length].none?, "border-red-400 focus:outline-red-600": dance.errors[:heat_length].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :limit %>
    <%= form.number_field :limit, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:limit].none?, "border-red-400 focus:outline-red-600": dance.errors[:limit].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :col %>
    <%= form.number_field :col, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:col].none?, "border-red-400 focus:outline-red-600": dance.errors[:col].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :row %>
    <%= form.number_field :row, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:row].none?, "border-red-400 focus:outline-red-600": dance.errors[:row].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :cost_override %>
    <%= form.text_field :cost_override, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:cost_override].none?, "border-red-400 focus:outline-red-600": dance.errors[:cost_override].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :semi_finals %>
    <%= form.checkbox :semi_finals, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": dance.errors[:semi_finals].none?, "border-red-400 focus:outline-red-600": dance.errors[:semi_finals].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :open_category_id %>
    <%= form.text_field :open_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:open_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:open_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :closed_category_id %>
    <%= form.text_field :closed_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:closed_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:closed_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :solo_category_id %>
    <%= form.text_field :solo_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:solo_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:solo_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :multi_category_id %>
    <%= form.text_field :multi_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:multi_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:multi_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :pro_open_category_id %>
    <%= form.text_field :pro_open_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:pro_open_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:pro_open_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :pro_closed_category_id %>
    <%= form.text_field :pro_closed_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:pro_closed_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:pro_closed_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :pro_solo_category_id %>
    <%= form.text_field :pro_solo_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:pro_solo_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:pro_solo_category_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :pro_multi_category_id %>
    <%= form.text_field :pro_multi_category_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": dance.errors[:pro_multi_category_id].none?, "border-red-400 focus:outline-red-600": dance.errors[:pro_multi_category_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
