<%= form_with(model: studio, class: "contents") do |form| %>
  <% if studio.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

      <ul class="list-disc ml-6">
        <% studio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:name].none?, "border-red-400 focus:outline-red-600": studio.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ballroom %>
    <%= form.text_field :ballroom, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:ballroom].none?, "border-red-400 focus:outline-red-600": studio.errors[:ballroom].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:email].none?, "border-red-400 focus:outline-red-600": studio.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :heat_cost %>
    <%= form.text_field :heat_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:heat_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:heat_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :multi_cost %>
    <%= form.text_field :multi_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:multi_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:multi_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :solo_cost %>
    <%= form.text_field :solo_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:solo_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:solo_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :student_heat_cost %>
    <%= form.text_field :student_heat_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:student_heat_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:student_heat_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :student_multi_cost %>
    <%= form.text_field :student_multi_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:student_multi_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:student_multi_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :student_registration_cost %>
    <%= form.text_field :student_registration_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:student_registration_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:student_registration_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :student_solo_cost %>
    <%= form.text_field :student_solo_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:student_solo_cost].none?, "border-red-400 focus:outline-red-600": studio.errors[:student_solo_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :tables %>
    <%= form.number_field :tables, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": studio.errors[:tables].none?, "border-red-400 focus:outline-red-600": studio.errors[:tables].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
