<div id="<%= dom_id studio %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= studio.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ballroom:</strong>
    <%= studio.ballroom %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= studio.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Heat cost:</strong>
    <%= studio.heat_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Multi cost:</strong>
    <%= studio.multi_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Solo cost:</strong>
    <%= studio.solo_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Student heat cost:</strong>
    <%= studio.student_heat_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Student multi cost:</strong>
    <%= studio.student_multi_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Student registration cost:</strong>
    <%= studio.student_registration_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Student solo cost:</strong>
    <%= studio.student_solo_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tables:</strong>
    <%= studio.tables %>
  </div>
</div>
