<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div data-controller="info-box">
      <div class="info-button">&#x24D8;</div>
      <ul class="info-box">
        <li>Use "Add Person" to add Professionals, Guests, or Students to this studio.
        <li>Click "Edit this studio" to change name, pair with another studio, or set pricing overrides.
      </ul>
    </div>

    <%= render @studio %>

    <div class="mt-8 grid grid-cols-3 gap-1">
      <%= link_to 'Add Person', new_person_path(studio: @studio), class: "btn-blue" %>
      <%= link_to 'Edit this studio', edit_studio_path(@studio), class: "btn-grey" %>
      <%= link_to 'Back to Studios', studios_path, class: "btn-green" %>
    </div>
  </div>
</div>
